<div class="row">
    <div class="col-md-6 mt-4">
        <div class="card">
            <div class="card-header bg-success text-white">
                Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#"> <!--{% url 'dashboard-customers' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Staff <i class="fas fa-users"></i></h4>
                                    <h3> 96 </h3>
                                    {% comment %} {{ customer_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#"> <!--{% url 'dashboard-products' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Mortalities <i class="fas fa-box"></i></h4>
                                    <h3> 22 </h3>
                                    {% comment %} {{ product_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">  <!--{% url 'dashboard-order' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Sales <i class="fas fa-shipping-fast"></i></h4>
                                    <h3> 2,500 </h3>
                                    {% comment %} {{ order_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="card">
            <div class="card-header bg-success text-white">
                Key Metrices
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#"> <!--{% url 'dashboard-customers' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Staff <i class="fas fa-users"></i></h4>
                                    <h3> 96 </h3>
                                    {% comment %} {{ customer_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#"> <!--{% url 'dashboard-products' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Mortalities <i class="fas fa-box"></i></h4>
                                    <h3> 22 </h3>
                                    {% comment %} {{ product_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">  <!--{% url 'dashboard-order' %}-->
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Sales <i class="fas fa-shipping-fast"></i></h4>
                                    <h3> 2,500 </h3>
                                    {% comment %} {{ order_count }} {% endcomment %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>