{% extends 'partials/base.html' %}
{% block title %}User{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header bg-info text-white">
                Employee's Detail
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Porfile Information &nbsp &nbsp</span class="h4">
                            <a class="btn btn-info btn-sm float-right" href="{% url 'user-profile-update' %}">Edit</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ user.profile.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" style="max-height: 200px; max-width: 200px;" src="{{ user.profile.image.url }}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}